<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <!--<add name="cashloanconnectionstring" connectionString="Data Source=162.222.225.88;Initial Catalog=testloandb;Persist Security Info=True;User ID=l4pf;Password=dRjt99@7;" providerName="System.Data.SqlClient" />-->
    <!--<add name="cashloanconnectionstring" connectionString="Data Source=69.16.252.20;Initial Catalog=cashshopdb;Persist Security Info=True;User ID=cashshopdb;Password=Cashshop@123;" providerName="System.Data.SqlClient" />-->
    <!--<add name="cashloanconnectionstring" connectionString="Data Source=DELL\SQLEXPRESS;Initial Catalog=cashshopdatabaseMigrated;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
    <add name="cashloanconnectionstring" connectionString="Server=db15147.public.databaseasp.net; Database=db15147; User Id=db15147; Password=Ra7_y-J5N3?q; Encrypt=True; TrustServerCertificate=True; MultipleActiveResultSets=True;  " providerName="System.Data.SqlClient" />
    <!--<add name="cashloanconnectionstring" connectionString="Data Source=108.175.13.54;Initial Catalog=db619828382;Persist Security Info=True;User ID=dbo619828382;Password=Payday@123;" providerName="System.Data.SqlClient" />-->
    <!--<add name="cashloanconnectionstring" connectionString="Data Source=182.50.133.109;Initial Catalog=cannydoer_Paydayloanmart;Persist Security Info=True;User ID=paydayloanmart;Password=paydayloan@123" providerName="System.Data.SqlClient" />-->
    <!--<add name="cashloanconnectionstring" connectionString="Data Source=182.50.133.109;Initial Catalog=Paydayloanmart;Persist Security Info=True;User ID=paydayloanuser;Password=Payday@123" providerName="System.Data.SqlClient" />-->

    <!--<add name="cashloanconnectionstring" connectionString="Data Source=.;Initial Catalog=CashLoanShop;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="cashloanconnectionstring" connectionString="Data Source=.;Initial Catalog=test;Persist Security Info=True;User ID=sa;Password=Pa55word" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="DbConnectionStringKey" value="cashloanconnectionstring" />
  
  </appSettings>
</configuration>